<div ng-controller="CarBodies as Admin">
    <div class="tittlepage"><div class="tit">Karoserije</div></div>
    <div ng-class="{true: 'messagetrue', false: 'messagefalse'}[statusdelcarbody]">{{messagedelcarbody}}</div>
    <input type="text" placeholder="pretraži..." ng-model="search">
    <div class="tablecars">
        <table>
            <tr>
                <th>ID</th>
                <th>Karoserija</th>
                <th>Izmeni</th>
                <th>Izbrisi</th>
            </tr>
            <tr ng-repeat="x in carbodies_list | filter : search">
                <td>{{x.id}}</td>
                <td>{{x.car_body_name | uppercase}}</td>
                <td><button ng-click="$parent.update_car_body_id = x.id; $parent.update_car_body_name = x.car_body_name; $parent.showupdatecarbody = true;" ><i class="far fa-edit"></i></button></td>
                <td><button ng-click="deleteCarBody(x.id, x.car_body_name);" ><i class="fas fa-trash"></i></button></td>
            </tr>
        </table>
    </div>
    <div ng-show="showupdatecarbody" class="update">
        <div class="updatetittle">Izmeni karoseriju:</div>
        <div class="exitupdate" ng-click="showupdatecarbody =false;"><i class="fas fa-times"></i></div>
        <div ng-class="{true: 'messagetrue', false: 'messagefalse'}[statusupdatecarbody]">{{messageupdatecarbody}}</div>
        <form>
            <label>
                <input ng-model="update_car_body_name" type="text" ng-focus="updatecarbody">
            </label>
            <button ng-click="UpdateCarBody(update_car_body_id, update_car_body_name)">Sačuvaj</button>
        </form>
    </div>

    <div class="add">
        <div class="addtittle">Dodaj karoseriju:</div>
        <div ng-class="{true: 'messagetrue', false: 'messagefalse'}[statusaddcarbody]">{{messageaddcarbody}}</div>
        <form>
            <label>
                <input ng-model="carbodyname" type="text" ng-focus="addcarbody">
            </label>
            <button ng-click="AddCarBody(carbodyname)">Pošalji</button>
        </form>
    </div>
</div>
